.container {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

h1 {
  color      : var(--Very-Dark-Blue);
  font-size  : 3rem;
  font-weight: 200;
  padding    : 20px;
  text-align : center;
}

p {
  text-align : left;
  margin-left: 50px;
}

table {
  margin-top: 50px;
  width     : 300px;
  height    : 200px;
  box-sizing: border-box;
}

table th {
  text-align: center;
  font-size: 1.2rem;
}